<div class="h-100 d-flex flex-row align-items-center">
<div class="d-flex flex-column w-100 ">
    {{ form_start(form,{'attr':{'class':'container-fluid bg-light pt-3 pb-3 shadow-lg',"id" : "fond"}}) }}
        <h2 class="title">Société</h2>
        <div class="border-top border w-75 mt-1 mb-3" id="borderMain"></div>
        <div class="column">
            <div class="container-fluid col-5 h-50 p-2 pb-4 mb-2 border shadow-sm" id="societe">
                <h4 class="title">Société</h4>
                <div class="border-top border w-75 mt-1 mb-3" id="borderOne"></div>
                <div class="d-flex flex-column ml-5 mr-5">
                    {{form_label(form.nom,'Nom :')}}
                    {{form_widget(form.nom)}}
                    <div class="text-danger">
                        <small>{{societeError.errorNom}}</small>
                    </div>
                </div>
            </div>

            <div class="container-fluid col-5 h-50 p-2 pb-4 border shadow-sm" id="details">
                <h4 class="title">Détails candidature</h4>
                <div class="border-top border w-75 mt-1 mb-3" id="borderTwo"></div>
                <div class="d-flex flex-column ml-5 mr-5 text-blue ">
                
                    {{form_label(form.mail,'Email :')}}
                    {{form_widget(form.mail)}}
                    <div class="text-danger">
                        <small>{{societeError.errorMail}}</small>
                    </div>
                </div>
                <div class="d-flex flex-column ml-5 mr-5">
                    {{form_label(form.telephone,'Téléphone :')}}
                    {{form_widget(form.telephone)}}
                    <div class="text-danger">
                        <small>{{societeError.errorTelephone}}</small>
                    </div>
                </div>
                <div class="d-flex flex-column ml-5 mr-5">
                    {{form_label(form.note,'Note :')}}
                    {{form_widget(form.note)}}
                    <div class="text-danger text-bold">
                        <small>{{societeError.errorNote}}</small>
                    </div>
                </div>
            </div>
        
            <div class=" text-center mt-2">
                <button class="btn btn-send text-white">{{ button_label|default('Valider') }}</button>          
            </div>
        </div>
{{ form_end(form) }}
    </div>
</div>