{% extends 'base.html.twig' %}

{% block title %}Edit Societe{% endblock %}

{% block body %}
    <h1 class="text-center white pt-5 mb-5">Modifier société</h1>

    {{ include('societe/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div>
        <a class="btn btn-back text-white mt-2" href="{{ path('societe_index') }}">Retour</a>
    </div>
{% endblock %}
