{% extends 'base.html.twig' %}

{% block title %}Societe index{% endblock %}

{% block body %}
    <h1 class="text-center text-white mb-5 pt-5">Liste des societes</h1>
    <div class="container-fluid bg-blue border shadow pt-2 mb-5" id="fond">
        <h4 class="text-blue">Mes societes</h4>
        <div class="border-top border w-75 mt-1 mb-3" id="border"></div>
        <div class="row">

        {% for societe in societes %}
            <div class="w-25 col-4 mb-3 cursor-pointer " onclick="document.location='{{ path('societe_show', {'id': societe.id}) }}'" >
                    <div class="shadow-sm opacity-lg pb-1 text-center table-head-color " >
                        <h2 class="text-white">{{ societe.nom}}</h2>
                    </div>
                    <article class="carte container-fluid bg-white shadow-sm p-2 mr-3 border">
                        <h5><strong>Email</strong> : <em>{{ societe.mail}}</em></h5>
                        <h5><strong>Telephone</strong> : <em>{{ societe.telephone}}</em></h5>
                    </article>
              </div> 

        {% endfor %}
        <div class="w-25 col-4 mb-3 cursor-pointer" >
                <article 
                    class="container-fluid border shadow-sm opacity-sm p-2 mr-3 h-100 table-head-color text-center" 
                    id="addButton"
                    onclick="document.location='{{path('societe_new')}}'"
                    >
                    
                    <div class="d-flex flex-column h-75 align-items-center justify-content-center">
                        <h5 class="text-white text-center mt-2">Nouvelle candidature</h5>
                        <i class="material-icons text-white m-0 mt-3" style="font-size : 68px;">add</i>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="/asset/js/Index.js"></script>
{% endblock %}