{% extends 'base.html.twig' %}

{% block title %}New Societe{% endblock %}

{% block body %}
    <h1 class="text-center text-light mb-5 pt-5">Nouvelle société</h1>
    
    {{ include('societe/_form.html.twig') }}
    <div>
        <a class="btn btn-back text-white mt-2" href="{{ path('societe_index') }}">Retour</a>
    </div>
    
    
{% endblock %}
{% block javascripts %}
<script src="/asset/js/agendaPostNew.js"></script>
{% endblock %}