
<div class="h-100 d-flex flex-row align-items-center">
<div class="d-flex flex-column w-100 ">
{{ form_start(form,{'attr':{'class': 'container-fluid bg-light pt-3 pb-3 shadow-lg', "id" : "fond"}}) }}
    <h3 class="title">Rendez-vous</h3>
    <div class="border-top border w-75 mt-1 mb-3" id="borderMain"></div>
    <div class="column">
        <div class="container-fluid col-5 h-50 p-2 pb-4 mb-2 border shadow-sm" id="societe">
            <h4 class="title">Société et candidature</h4>
            <div class="border-top border w-75 mt-1 mb-3" id="borderOne"></div>
            <div class="d-flex flex-column ml-5 mr-5">
                {{ form_label(form.candidature, 'Poste :')}}
                {{ form_widget(form.candidature) }}
                <div class="text-danger">
                    
                </div>
            </div>
        </div>
        <div class="container-fluid col-5 h-50 p-2 pb-4 border shadow-sm" id="details">
            <h4 class="title">Détails événement</h4>
            <div class="border-top border w-75 mt-1 mb-3" id="borderTwo"></div>
            <div class="d-flex flex-column ml-5 mr-5">
                {{ form_label(form.intituler, 'Intitulé :')}}
                {{ form_widget(form.intituler)}}
                <div class="text-danger">
                    <small>{{agendaPostError.errorIntituler}}</small>
                </div>
            </div>

            <div class="d-flex flex-column ml-5 mr-5">
                {{ form_label(form.dateLimite, 'Date limite :')}}
                {{ form_widget(form.dateLimite)}}
                <div class="text-danger">
                    <small>{{agendaPostError.errorDateLimite}}</small>
                </div>
            </div>

            <div class="d-flex flex-column ml-5 mr-5">
                {{ form_label(form.fait, 'Intitulé :')}}
                {{ form_widget(form.fait)}}
                <div class="text-danger">
                    {{ form_errors(form.fait)}}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn table-head-color text-white">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
</div>
</div>
