{% extends 'base.html.twig' %}

{% block title %}Edit AgendaPost{% endblock %}

{% block body %}
    <h1 class="text-center text-light mt-5 mb-5">Modifier événement</h1>

    {{ include('agenda_post/_form.html.twig', {'button_label': 'Modifier'}) }}

    

    <Button class="btn btn-light mt-2" href="{{ path('agenda_post_index') }}">Retour</a>
{% endblock %}
{% block javascripts %}
<script src="/asset/js/agendaPostNew.js"></script>
{% endblock %}