{% extends 'base.html.twig' %}

{% block title %}AgendaPost index{% endblock %}

{% block body %}
    
    <h1 class="text-center text-light mb-5 mt-5">Agenda</h1>
    
     <div class="container-fluid bg-blue border shadow pt-2 mb-5" id="fond">
        <h4 class="text-blue">Mes événements</h4>
        <div class="border-top border w-75 mt-1 mb-3" id="border"></div>
        <div class="row">
        {% for i in 0..(index - 1 ) %}
            <div class="w-25 col-4 mb-3 cursor-pointer " onclick="document.location='{{ path('agenda_post_show', {'id': agenda_posts[i].id}) }}'">
                <div class="shadow-sm opacity-lg pb-1 text-center table-head-color " >
                    {{agenda_posts[i].fait ? 
                    "<i class='material-icons mt-1 text-white' style='font-size:36px;'>event_busy</i>" 
                    : "<i class='material-icons mt-1 text-center text-white' style='font-size:36px;'>event_available</i>"}}
                </div>
                <article class="carte container-fluid bg-white shadow-sm p-2 mr-3 border " >
                    <h5><strong>Société</strong> : <em>{{ societes[i].nom}}</em></h5>
                    <h5><strong>Intituler</strong> : <em>{{ agenda_posts[i].intituler }}</em></h5>
                    <h5><strong>Fait</strong> : <em>{{ agenda_posts[i].fait ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                </article>
            </div>
        {% endfor %}
        <div class="w-25 col-4 mb-3 cursor-pointer" >
            <article 
                class="container-fluid border shadow-sm opacity-sm p-2 mr-3 h-100 table-head-color text-center" 
                id="addButton"
                onclick="document.location='{{path('agenda_post_new')}}'"
                >
                
                <div class="d-flex flex-column h-75 align-items-center justify-content-center">
                    <h5 class="text-white text-center">Nouveau événement</h5>
                    <i class="material-icons text-white m-0 mt-3" style="font-size : 68px;">add</i>
                </div>
            </article>
        </div>
        
    </div>
    
    
{% endblock %}
{% block javascripts %}
<script src="/asset/js/Index.js"></script>
{% endblock %}

