{% extends 'base.html.twig' %}

{% block title %}New AgendaPost{% endblock %}

{% block body %}
    <h1 class="text-center text-light mb-5 mt-5">Nouveau rendez-vous</h1>

    {{ include('agenda_post/_form.html.twig') }}
    <div>
        <a class="btn btn-outline-light mt-2 mb-3" href="{{ path('agenda_post_index') }}">Retour</a>
    </div>
{% endblock %}
{% block javascripts %}
<script src="/asset/js/agendaPostNew.js"></script>
{% endblock %}