.titre {
    color:#10233b;
}

.btn-send{
    background-color:#4a85c2;
}

.btn-back{
    background-color:#10233b;
}

.title{
    color:#10233b;
}

.table-head-color{
    background-color: #10233b;
}

.text-blue{
    color:#10233b;
}

.btn-table{
    background-color:#7ba9dc;
}
.bg-blue{
    background-color: white;
}

.opacity-lg{
    opacity: 0.9;
}
.opacity-sm{
    opacity:0.9;
}
.border-blue{
    border-color: #10233b ;
}
.cursor-pointer{
    cursor: pointer;
  }
.cursor-default{
    cursor: default;
}