<form method="post" action="{{ path('detail_candidature_delete', {'id': detail_candidature.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail_candidature.id) }}">
    <button class="btn">Delete</button>
</form>
