
{{ form_start(form) }}
    <div class="d-flex flex-column ml-5 mr-5 align-items-center">
        {{ form_label(form.importance,'Importance')}}
        {{ form_widget(form.importance)}}
        <div class="text-danger">
            {{ form_errors(form.importance)}}
        </div>
    </div>
    <div class="d-flex flex-column ml-5 mr-5 align-items-center">
        {{ form_label(form.poste,'Poste')}}
        {{ form_widget(form.poste) }}
        <div class="text-danger">
            {{ form_errors(form.poste)}}
        </div>
    </div>
    <div class="d-flex flex-column ml-5 mr-5 align-items-center">
        {{ form_label(form.contacter,"Déja contacté") }}
        {{ form_widget(form.contacter) }}
        <div class="text-danger">
            {{ form_errors(form.contacter) }}
        </div>
    <div>
    <div class="d-flex flex-column ml-5 mr-5 align-items-center">
        {{ form_label(form.relancer,'Déja relancé') }}
        {{ form_widget(form.relancer) }}
        <div class="text-danger">
            {{ form_errors(form.relancer) }}
        </div>
    </div>
    <div class="d-flex flex-column ml-5 mr-5 align-items-center">
        {{ form_label(form.note,"note") }}
        {{ form_widget(form.note) }}
        <div class="text-danger">
            {{ form_errors(form.note) }}
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
