{{ form_start(form) }}
    {{ form_label(form.agendaPost.intituler, "Intitulé :")}}
    {{ form_widget(form.agendaPost.intituler) }}
    {{ form_errors(form.agendaPost.intituler) }}

    {{ form_label(form.agendaPost.fait, "Fait :")}}
    {{ form_widget(form.agendaPost.fait) }}
    {{ form_errors(form.agendaPost.fait) }
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
