{% extends 'base.html.twig' %}

{% block title %}Agenda index{% endblock %}

{% block body %}
    <h1>Agenda index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Create_at</th>
                <th>Update_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td>{{ agenda.id }}</td>
                <td>{{ agenda.createAt ? agenda.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agenda.updateAt ? agenda.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('agenda_show', {'id': agenda.id}) }}">show</a>
                    <a href="{{ path('agenda_edit', {'id': agenda.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agenda_new') }}">Create new</a>
{% endblock %}
