<!DOCTYPE html>
<html class="h-100" >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}
        <link rel="stylesheet" href="\asset\css\app.css">
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    </head>
    <body class="h-100" style="background-color :#646a71">
        <div class="w-100 h-100">
            <nav  class="position-fixed h-100" id="navigation">
                        <ul style="background-color :#10233b" class=
                        "nav h-100 flex-column align-items-center justify-content-center shadow-lg  "
                        >
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/board">Board</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link text-white" href="/societe">Societes</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link text-white" href="/candidature">Candidature</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link text-white" href="/agenda">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link text-white" href="/document">Document</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: #7ba9dc" class="nav-link text-danger" href="#">A venir</a>
                            </li>
                        </ul>
            </nav>
            <div class="container-fluid h-100 pr-0" id="corp">
                
                    <div class="d-flex flex-column w-100 mr-5 align-items-center">
                    <main class="h-100 w-75" style>
                        {% block body %}{% endblock %}
                    </main>
                    </div>
                    {% block javascripts %}
                        <script>
                            let nav = document.getElementById("navigation"),
                                corp = document.getElementById("corp"),
                                navWidth = nav.offsetWidth;
                            console.log(navWidth)
                            corp.style.marginLeft = navWidth+"px"
                            corp.style.marginRight = navWidth+"px"
                            corp.style.width = (corp.offsetWidth - navWidth)+ "px";
                        </script>
                    {% endblock %}
                
            </div>
        </div>
    </body>
</html>
