{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
    <h1 class="text-white text-center mt-5 mb-5">Board</h1>
            
            <div class="container-fluid bg-blue border shadow pt-2 mb-5 fond">
                <h4 class="text-blue">Mes événements</h4>
                <div class="sous-titre border-top border w-75 mt-1 mb-3"></div>
                <div class="row">
                {% for i in 0..(indexAgenda - 1 ) %}
                    <div class="w-25 col-4 mb-3 cursor-pointer " onclick="document.location='{{ path('agenda_post_show', {'id': agenda_posts[i].id}) }}'">
                        <div class="shadow-sm opacity-lg pb-1 text-center table-head-color " >
                            {{agenda_posts[i].fait ? 
                            "<i class='material-icons mt-1 text-white' style='font-size:36px;'>event_busy</i>" 
                            : "<i class='material-icons mt-1 text-center text-white' style='font-size:36px;'>event_available</i>"}}
                        </div>
                        <article class="carte container-fluid bg-white shadow-sm p-2 mr-3 border " >
                            <h5><strong>Société</strong> : <em>{{ societes[i].nom}}</em></h5>
                            <h5><strong>Intituler</strong> : <em>{{ agenda_posts[i].intituler }}</em></h5>
                            <h5><strong>Fait</strong> : <em>{{ agenda_posts[i].fait ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                        </article>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="container-fluid bg-blue shadow pt-2 mb-5 fond">
                <h4 class="text-blue">Mes candidatures</h4>
                <div class="sous-titre border-top border w-75 mt-1 mb-3"></div>
                <div class="row">
                {% for i in 0..(indexCandidature - 1 ) %}
                    <div class="w-25 col-4 mb-3 cursor-pointer " onclick="document.location='{{ path('candidature_show', {'id': candidatures[i].id}) }}'" >
                        <div class="shadow-sm opacity-lg pb-1 text-center table-head-color " >
                            {% for y in 1..(detailCandidatures[i].importance)%}
                                <i class="material-icons mt-1 text-white" style='font-size:36px;'>star</i>
                            {% endfor %}
                        </div>
                        <article class="carte container-fluid bg-white shadow-sm p-2 mr-3 border">
                            <h5><strong>Société</strong> : <em>{{ societes[i].nom}}</em></h5>
                            <h5><strong>Poste</strong> : <em>{{ detailCandidatures[i].poste}}</em></h5>
                            <h5><strong>Contacté</strong> : <em>{{ detailCandidatures[i].contacter ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                            <h5><strong>Relancé</strong> : <em>{{  detailCandidatures[i].relancer ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                            <div>
                                <h5><strong>Importance</strong> : </h5>
                                
                                {% for y in 1..5 %}
                                    {% if y > detailCandidatures[i].importance %}
                                        <i class="material-icons mt-1">star_border</i>
                                    {% else %}
                                        <i class="material-icons mt-1">star</i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        
                        </article>
                    </div> 
                {% endfor %} 
                </div>
            </div>

           <div class="container-fluid bg-blue border shadow pt-2 mb-5 fond">
                <h4 class="text-blue">Mes Société</h4>
                <div class="sous-titre border-top border w-75 mt-1 mb-3"></div>
                <div class="row">
                {% for societe in societes %}
                    <div class="w-25 col-4 mb-3 cursor-pointer " onclick="document.location='{{ path('societe_show', {'id': societe.id}) }}'" >
                        <div class="shadow-sm opacity-lg pb-1 text-center table-head-color " >
                            <h2 class="text-white">{{ societe.nom}}</h2>
                        </div>
                        <article class="carte container-fluid bg-white shadow-sm p-2 mr-3 border">
                            <h5><strong>Email</strong> : <em>{{ societe.mail}}</em></h5>
                            <h5><strong>Telephone</strong> : <em>{{ societe.telephone}}</em></h5>
                        </article>
                    </div> 
                {% endfor %}
                </div>
            </div>
            
{% endblock %}
{% block javascripts %}
<script src="/asset/js/Board.js"></script>
{% endblock %}
