{% extends 'base.html.twig' %}

{% block title %}New Document{% endblock %}

{% block body %}
    <h1 class="text-center title mb-5 mt-5">Nouvelle document</h1>

    {{ include('document/_form.html.twig') }}
    
    <div>
        <a class="btn btn-back text-white mt-2 mb-3" href="{{ path('document_index') }}">Retour</a>
    </div>
{% endblock %}
{% block javascripts %}
<script src="/asset/js/agendaPostNew.js"></script>
{% endblock %}