{% extends 'base.html.twig' %}

{% block title %}AgendaPost{% endblock %}

{% block body %}
    <h2 class="text-light text-center mt-5 mb-5">Détail Document</h2>

    <div class="container-fluid bg-white pt-2 pb-2">
        
        <div class="container-fluid p-2 text-center border-bottom" id="blockOne">
            <div class="d-flex align-items-center justify-content-between" >
                <div></div>
                <h4 class="text-blue">Document</h4>
                <div class="dropdown">
                    <button class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons text-blue">settings</i>
                    </button>

                    <div class="dropdown-menu" aria-labelledy="dropdownMenuLink">
                        <button class="dropdown-item" id="dropDetailBlockOne" href="#" onclick="document.location='{{ path('document_read', {'id': document.id}) }}'" >Voir</button>
                        <button class="dropdown-item" id="dropModifierBlockOne" href="#" >Modifier</button>
                        <button class="dropdown-item" id="dropSupprimerBlockOne" href="#">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="border-top border w-100 mt-1 mb-3" id="blockOneBorder"></div>
            <h5><strong>Nom</strong> : <em>{{document.originalName}}</em></h5>
            <h5><strong>Taille</strong> : <em>{{size}}</em></h5>
            <h5><strong>Extension</strong> : <em>PDF</em></h5>
            <div class="d-flex justify-content-around">
                <h5><strong>Crée le</strong> : <em>{{document.CreateAt ? document.CreateAt|date('d-m-Y H:i:s') : ''}}</em></h5>
                <h5><strong>Modifier le</strong> : <em>{{document.UpdateAt ? document.UpdateAt|date('d-m-Y H:i:s') : ''}}</em></h5>
            </div>
        </div>
    <div class="row"> 
        <div class="container-fluid col-6 h-auto border-right p-2 mt-2 text-center" id="blockTwo">
            <div class="d-flex align-items-center justify-content-between">
                <div></div>
                <h4 class="text-blue">Candidature</h4>
                <div class="dropdown">
                    <button class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons text-blue">settings</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledy="dropdownMenuLink">
                        <button class="dropdown-item" href="#" id="dropDetailsBlockTwo" onclick="document.location='{{ path('candidature_show', {'id': candidature.id}) }}'">Détails</button>
                        <button class="dropdown-item" href="#" id="dropModifierBlockTwo" onclick="document.location='{{ path('candidature_edit', {'id': candidature.id}) }}'">Modifier</button>
                        <button class="dropdown-item" href="#" id="dropSupprimerBlockTwo">Supprimer</button>
                    </div>
                </div>

            </div>
            
            <div class="border w-100 mt-1 mb-3" id="blockTwoBorder"></div>
            <h5><strong>Poste</strong> : <em>{{detailCandidature.poste}}</em></h5>
            <h5><strong>Importance</strong> : <em>{% for y in 1..5 %}
                                {% if y > detailCandidature.importance %}
                                    <i class="material-icons mt-1">star_border</i>
                                {% else %}
                                    <i class="material-icons mt-1">star</i>
                                {% endif %}
                            {% endfor %}</em></h5>
            <h5><strong>Contacter</strong> : <em>{{ detailCandidature.contacter ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
            <h5><strong>Relancer</strong> : <em>{{ detailCandidature.relancer ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
            <h5><strong>Note</strong> : <em>{{detailCandidature.note}}</em></h5>
        </div>
        <div class="container-fluid col-6 h-auto  border-left p-2 mt-2 text-center" id="blockThree">
            <div class="d-flex align-items-center justify-content-between">
                <div></div>
                <h4 class="text-blue">Société</h4>
                <div class="dropdown">
                    <button class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons text-blue">settings</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledy="dropdownMenuLink">
                        <button class="dropdown-item" href="#" id="dropDetailsBlockThree" onclick="document.location='{{ path('societe_show', {'id': societe.id}) }}'">Détails</button>
                        <button class="dropdown-item" href="#" id="dropModifierBlockThree" onclick="document.location='{{ path('societe_edit', {'id': societe.id}) }}'">Modifier</button>
                        <button class="dropdown-item" href="#" id="dropSupprimerBlockThree">Supprimer</button>
                    </div>
                </div>
            </div>
            
            <div class=" border w-100 mt-1 mb-3" id="blockThreeBorder"></div>
            <h5><strong>Nom</strong> : <em>{{societe.nom}}</em> </h5>
            <h5><strong>Email</strong> : <em>{{societe.mail}}</em></h5>
            <h5><strong>Téléphone</strong> : <em>{{societe.telephone}}</em></h5>
            <h5><strong>Note</strong> : <em>{{societe.note}}</em></h5>
        </div>
       
    </div>   
        
    </div>
    <a class="btn btn-outline-light mb-5 mt-5" href="{{ path('agenda_post_index') }}">Retour</a>
{% endblock %}
{% block javascripts %}
    <script src="/asset/js/show.js"></script>
{% endblock %}