<div class="h-100 d-flex flex-row align-items-center">
<div class="d-flex flex-column w-100 ">
{{ form_start(form,{'attr':{'class': 'container-fluid bg-light pt-3 pb-3 shadow-lg',"id" : "fond"}}) }}
    <h2 class="title">Candidature</h2>
    <div class="border-top border w-75 mt-1 mb-3" id="borderMain"></div>
    <div class="column">
        <div class="container-fluid col-5 h-50 p-2 pb-4 mb-2 border shadow-sm" id="societe">
            <h4 class="title">Société</h4>
            <div class="border-top border w-75 mt-1 mb-3" id="borderOne"></div>
            <div class="d-flex flex-column ml-5 mr-5">
                {{ form_label(form.societe,'Société :')}}
                {{ form_widget(form.societe)}}
                <div class="text-danger">
                    {{ form_errors(form.societe)}}
                </div>
            </div>
            <div class="d-flex flex-column ml-5 mr-5 text-blue">
                {{ form_label(form.detailCandidature.poste,'Poste :', {'attr':{'class':"w-25"}})}}
                {{ form_widget(form.detailCandidature.poste) }}
                <div class="text-danger">
                    <small>{{ candidatureError.errorPoste}}</small>
                </div>
            </div>
        </div>
        <div class="container-fluid col-5 h-50 p-2 pb-4 border shadow-sm" id="details">
            <h4 class="title">Détails candidature</h4>
            <div class="border-top border w-75 mt-1 mb-3" id="borderTwo"></div>
            <div class="d-flex flex-column ml-5 mr-5 text-blue ">
                {{ form_label(form.detailCandidature.importance,'Importance :',{'attr':{'class':"w-25",'id' : 'importance'}})}}
                <div class="text-center">
                    <i class="material-icons cursor-default" style="font-size:30px;" id="starOne">star_border</i>
                    <i class="material-icons cursor-default" style="font-size:30px;" id="starTwo">star_border</i>
                    <i class="material-icons cursor-default" style="font-size:30px;" id="starThree">star_border</i>
                    <i class="material-icons cursor-default" style="font-size:30px;" id="starFour">star_border</i>
                    <i class="material-icons cursor-default" style="font-size:30px;" id="starFive">star_border</i>
                </div>
                {{ form_widget(form.detailCandidature.importance,{'id' : 'widgetImportance'})}}
                <div class="text-danger">
                    <small>{{ candidatureError.errorImportance}}</small>
                </div>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column ml-5 mr-5 text-blue">
                    {{ form_label(form.detailCandidature.contacter,"Déja contacté :",{'attr':{'class':"w-25"}}) }}
                    {{ form_widget(form.detailCandidature.contacter, {'id' : 'widgetContacter'}) }}
                    <i class="material-icons text-center cursor-default" id="checkBoxContacter">check_box_outline_blank</i>
                    <div class="text-danger">
                        <small>{{ candidatureError.errorContacter}}</small>
                    </div>
                </div>
                <div class="d-flex flex-column ml-5 mr-5 text-blue">
                    {{ form_label(form.detailCandidature.relancer,'Déja relancé :', {'attr':{'class':"w-25"}}) }}
                    {{ form_widget(form.detailCandidature.relancer,{'id': 'widgetRelancer'}) }}
                    <i class="material-icons text-center cursor-default" id="checkBoxRelance">check_box_outline_blank</i>
                    <div class="text-danger">
                        <small>{{ candidatureError.errorRelancer}}</small>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column ml-5 mr-5 text-blue">
                {{ form_label(form.detailCandidature.note,"Note :", {'attr':{'class':"w-25"}}) }}
                {{ form_widget(form.detailCandidature.note) }}
                <div class="text-danger">
                    <small>{{ candidatureError.errorNote}}</small>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-send text-white" id="buttonSend">{{ button_label|default('Valider') }}</button>
        </div>
    </div>
{{ form_end(form) }}
</div>
</div>