{% extends 'base.html.twig' %}

{% block title %}Edit Candidature{% endblock %}

{% block body %}
    <h1 style="color : #10233b" class="text-center mt-5 mb-5">Modifier candidature</h1>

    {{ include('candidature/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-end mt-2" >
        {{ include('candidature/_delete_form.html.twig') }}
    </div>
    <a style="background-color : #10233b" class="btn text-white mt-2" href="{{ path('candidature_index') }}">Retour</a>

    
{% endblock %}
{% block javascripts %}
<script src="/asset/js/agendaPostNew.js"></script>
{% endblock %}