{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <h1 class="text-center text-white mb-5 pt-5">Liste des candidatures</h1>
    <div class="container-fluid bg-blue border shadow pt-2 mb-5" id="fond">
        <h4 class="text-blue">Mes Candidatures</h4>
        <div class="border-top border w-75 mt-1 mb-3" id="border"></div>
        <div class="row">
            {% for i in 0..(index - 1) %}
              <div class="w-25 col-4 mb-3 cursor-pointer " onclick="document.location='{{ path('candidature_show', {'id': candidatures[i].id}) }}'" >
                    <div class="shadow-sm opacity-lg pb-1 text-center table-head-color " >
                        {% for y in 1..(detailCandidatures[i].importance)%}
                            <i class="material-icons mt-1 text-white" style='font-size:36px;'>star</i>
                        {% endfor %}
                    </div>
                    <article class="carte container-fluid bg-white shadow-sm p-2 mr-3 border">
                        <h5><strong>Société</strong> : <em>{{ societes[i].nom}}</em></h5>
                        <h5><strong>Poste</strong> : <em>{{ detailCandidatures[i].poste}}</em></h5>
                        <h5><strong>Contacté</strong> : <em>{{ detailCandidatures[i].contacter ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                        <h5><strong>Relancé</strong> : <em>{{  detailCandidatures[i].relancer ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                        <div>
                            <h5><strong>Importance</strong> : </h5>
                            
                            {% for y in 1..5 %}
                                {% if y > detailCandidatures[i].importance %}
                                    <i class="material-icons mt-1">star_border</i>
                                {% else %}
                                    <i class="material-icons mt-1">star</i>
                                {% endif %}
                            {% endfor %}
                        </div>
                       
                    </article>
              </div> 
            {% endfor %}
             <div class="w-25 col-4 mb-3 cursor-pointer" >
                <article 
                    class="container-fluid border shadow-sm opacity-sm p-2 mr-3 h-100 table-head-color text-center" 
                    id="addButton"
                    onclick="document.location='{{path('candidature_new')}}'"
                    >
                    
                    <div class="d-flex flex-column h-75 align-items-center justify-content-center">
                        <h5 class="text-white text-center">Nouvelle candidature</h5>
                        <i class="material-icons text-white m-0 mt-3" style="font-size : 68px;">add</i>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="/asset/js/Index.js"></script>
{% endblock %}