{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}

{% block body %}
    <h1 class="text-center title mb-5 mt-5">Nouvelle candidature</h1>

    {{ include('candidature/_form.html.twig') }}
    
    <div>
        <a class="btn btn-back text-white mt-2 mb-3" href="{{ path('candidature_index') }}">Retour</a>
    </div>
{% endblock %}
{% block javascripts %}
<script src="/asset/js/agendaPostNew.js"></script>
{% endblock %}