{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1 class="text-center text-white mt-5 mb-5">Détail candidature</h1>

    <div class="container-fluid bg-white pt-2 pb-2">
        <div class="row">
             <div class="container-fluid bg-white  text-center text-blue border-bottom pt-2 pb-2 mb-2" id="blockOne">
                    <div class="d-flex align-items-center   justify-content-between">
                        <div></div>
                        <h4 class="text-blue">Candidature</h4>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons text-blue">settings</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledy="dropdownMenuLink">
                                <button class="dropdown-item" href="#" id='dropModifierBlockOne' onclick="document.location='{{ path('candidature_edit', {'id': candidature.id}) }}'">Modifier</button>
                                <button class="dropdown-item" href="#" id="dropSupprimerBlockOne">Supprimer</button>
                            </div>
                        </div>

                    </div>
                   
                    <div class="border w-100 mt-1 mb-3" id="blockOneBorder"></div>
                    <h5><strong>Poste</strong> : <em>{{detailCandidature.poste}}</em></h5>
                    <h5><strong>Importance</strong> :  
                            {% for y in 1..5 %}
                                {% if y > detailCandidature.importance %}
                                    <i class="material-icons mt-1">star_border</i>
                                {% else %}
                                    <i class="material-icons mt-1">star</i>
                                {% endif %}
                            {% endfor %}</h5>
                    <h5><strong>Contacter</strong> : <em>{{ detailCandidature.contacter ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                    <h5><strong>Relancer</strong> : <em>{{ detailCandidature.relancer ? "<i class='material-icons'>done</i>" : "<i class='material-icons'>clear</i>"}}</em></h5>
                    <h5><strong>Note</strong> : <em>{{detailCandidature.note}}</em></h5>
                </div>
            <div class="container-fluid text-center pt-2 pb-2 text-blue" id='blockTwo'>
                <div class="d-flex align-items-center justify-content-between">
                    <div></div>
                    <h4 class="text-blue">Société</h4>
                    <div class="dropdown ">
                        <button class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons text-blue">settings</i>
                        </button>

                        <div class="dropdown-menu" aria-labelledy="dropdownMenuLink">
                            <button class="dropdown-item" href="#" id="dropDetailsBlockTwo" onclick="document.location='{{ path('societe_show', {'id': societe.id}) }}'">Détails</button>
                            <button class="dropdown-item" id="dropModifierBlockTwo" href="#" onclick="document.location='{{ path('societe_edit', {'id': societe.id}) }}'">Modifier</button>
                            <button class="dropdown-item" id="dropSupprimerBlockTwo" href="#">Supprimer</button>
                        </div>
                    </div>
                </div>
                <div class="border-top border w-100 mt-1 mb-3" id="blockTwoBorder"></div>
                <h5><strong>Nom</strong> : <em>{{societe.nom}}</em></h5>
                <h5><strong>Email</strong> : <em>{{societe.mail}}</em></h5>
                <h5><strong>Téléphone</strong> : <em>{{societe.telephone}}</em></h5>
                <h5><strong>Note</strong> : <em>{{societe.note}}</em></h5>
                <div class="d-flex justify-content-around">
                    <h5><strong>Crée le</strong> : <em>{{societe.createAt ? societe.createAt|date('d-m-y H:i:s') : ''}}</em></h5>
                    <h5><strong>Modifier le</strong> : <em>{{societe.updateAt ? societe.createAt|date('d-m-y H:i:s') : ''}}</em></h5> 
                </div>
            </div>
               
        </div>    
    </div>
    <div>
            <a class="btn btn-back text-white mt-2" href="{{ path('candidature_index') }}">Retour</a>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="/asset/js/show.js"></script>
{% endblock %}